@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
  border-radius: 20px;
  border: 3px solid #1a1a1a;
}

.no-scroll-bar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.no-scroll-bar::-webkit-scrollbar {
  display: none; /* Safari */
}

h1 {
  @apply font-montserrat;
}

p {
  @apply font-quick;
}

.floatingCard {
  @apply flex flex-col gap-2 items-center justify-center;
}

.floatingCard h1 {
  @apply text-4xl font-bold uppercase text-center text-transparent text-primary pb-6;
}

.floatingCard p {
  @apply text-lg text-center text-transparent text-primary;
}

.workModalLinks {
  @apply text-[5rem] text-lightGray font-quick hover:text-fade transition-colors ease-in-out duration-300;
}

.workModalNotes {
  @apply text-[3rem] text-lightGray font-quick;
}

.flipHorizontal {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
