@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #9f9f9f;
  border-radius: 20px;
  border: 3px solid #1a1a1a;
}

h1 {
  @apply font-montserrat;
}

p {
  @apply font-quick;
}

.pageRight,
.pageLeft {
  @apply flex flex-col justify-around;
}

.pageRight {
  background: url(../public/page.svg);
}

.pageLeft {
  background: url(../public/pageright.svg);
}

.pageRight h1,
.pageLeft h1 {
  @apply text-3xl text-center p-[5rem] text-primary font-bold;
}

.pageRight p,
.pageLeft p {
  @apply text-base px-[5rem] py-1 tracking-[2px] text-primary;
}
