* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  font-family: 'Quicksand', sans-serif;
  color: #f6f6f6;
}
h1,h2,h3 {
  font-family: 'Montserrat', serif;
  color: #f6f6f6;
  font-weight:normal;
}

nav {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 4.2rem;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

.navLinks a{
  text-decoration: none;
  color: #1a1a1a;
  font-family: 'Montserrat';
  font-weight: 500;
  height: 5rem;
}

.logo {
  margin-top: auto;
  margin-bottom:2rem;
  color: #4cd964;
  transform: rotate(-90deg);
  /* background-color: #ddd; */
  /* width:20vw; */
  /* display: flex;
  justify-content:center;
  align-items:center; */
  margin-bottom: 15vh;
}

.intro {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  padding: 5rem;
  flex-wrap: wrap;
}
.intro h1{
  font-size: 48px;
}

.intro p{
  font-size: 36px;
  padding-top: 10px;
}
.scrollContainer {
  display: flex;
  flex-direction: row;
  width: 2rem;
  height: 20vh;
  margin-left: 20vh;
  justify-content: center;
}

.scrollContainer p{
  writing-mode: vertical-rl;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}
body::-webkit-scrollbar-thumb {
  background-color: #4cd964;
  border-radius: 20px;
  border: 3px solid #1a1a1a;
}