.loader {
  position: fixed;
  inset: 0;
  width:100vw;
  height: 100vh;
  background: #F6f6f6;
  z-index: 1;
  display: grid;
  place-items: center;
}
.loader h1{
  font-size:5rem;
  color:#d3d3d3;
  text-align: center;
}

.loader > p{
  font-size:3rem;
  color:#d3d3d3;
}

@media screen and (max-width: 700px) {
  .loader h1{
    font-size:3rem;
    color:#d3d3d3;
    text-align: center;
  }
  
  .loader > p{
    font-size:1rem;
    color:#d3d3d3;
  }
}
