.parentContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #9132a8;
}
.header{
  font-size: 2rem;
  font-weight: 600;
  padding: 1.5rem;
  padding-left: 3rem;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-left: 3rem;
}

.stripes, .stripes2 {
  height: 80vh;
  width: 11rem;
  background-color: #F5E862;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.stripes h1{
  color: #9132a8;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}
.stripes p{
  color: #9132a8;
  font-weight: bold;
  font-size: 2rem;
}

.stripes a{
  text-decoration: none;
  font-family: 'Quicksand';
  font-size: 1rem;
  color: #f6f6f6;
  font-weight: bold;
}
.stripes div{
  display: grid;
  place-items: center;
  background-color: #9132A8;
  height: 2rem;
  width: 7rem;
  box-shadow: 5px 5px;
}
.stripes2{
  background-color: #f6f6f6;
}
.stripes2 h1{
  color: #1a1a1a;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-transform: uppercase;
}

.stripes2 p{
  color: #1a1a1a;
  font-weight: 600;
  font-size: 1.2rem;
}
.stripes2 a{
  text-decoration: none;
  font-family: 'Quicksand';
  font-size: 1rem;
  color: #f6f6f6;
  font-weight: bold;
}
.stripes2 div{
  display: grid;
  place-items: center;
  background-color: #1a1a1a;
  height: 2rem;
  width: 7rem;
  filter:drop-shadow(0 0 0.5rem #9132A8)
}